@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply cursor-pointer inline-block text-center text-white py-2 px-4 rounded disabled:bg-gray-500;
    }

    .btn-dark {
        @apply bg-gray-800 hover:bg-gray-900;
    }
    .btn-lg {
        @apply text-2xl py-4 px-6;
    }

    .section {
        @apply py-20;
    }

    .container {
        @apply mx-auto px-4;
    }

    .form-group {
        @apply mb-2;
    }
    .form-group label {
        @apply block;
    }

    .form-control {
        @apply px-4 py-3 rounded-lg placeholder:text-gray-600 text-gray-800 max-w-full border border-gray-600 hover:border-gray-800 focus:border-gray-800 w-full;
    }
}

.batches .batch-row:nth-child(even) {
    @apply bg-gray-700;
}

.saved-toggle {
    z-index: 5;
    position: relative;

    &__tooltip {
        visibility: hidden;
        pointer-events: none;
        top: 5px;
        left: 65px;
    }

    &:hover &__tooltip {
        visibility: visible;
    }
}

.sidebar {
    top: 0;
    z-index: 1;
    transition: left 0.2s ease-out;
    left: -100%;

    &.open {
        left: 0;
    }
}

.saved-row {
    th {
        @apply p-2 font-semibold bg-blue-600 text-white;
    }
    td {
        @apply p-2 bg-blue-100 border-b border-gray-600 mb-2;
    }
}
